[Unit]
Description=Run Juggler backups

[Service]
Environment=JUGGLER_PROJECT_PATH=/opt/apps
PassEnvironment=JUGGLER_PROJECT_PATH
ExecStart=/opt/juggler/bin/apps backup create -cp
StandardOutput=file:/var/log/juggler.log
StandardError=file:/var/log/juggler.log
